*~
Bob.c
Bob.o
Bob.bs
MYMETA.json
MYMETA.yml
Makefile.old
Makefile.orig
lookupa.o
perfect
perfect.o
perfhex.o
pm_to_blib
recycle.o
test
test1
test_hash.c
test_hash.h
test_hash.o
testperf.o
word_hash.c
word_hash.o
